*{
  margin:0;
  padding: 0;
}

.wrapper{
  width: 100%;
  height: 90vh;
  overfow: hidden;
  background-color: #F7F8F9;
}
.sidebar{
  position: relative;
  width: 200px;
  left: -180px;
  height: 89vh;
  background-color: #F7F8F9;
  ul{
    text-style: none;
    li{
    padding:10px;
    padding-left: 20px;
    padding-bottom: 20px;
      a{
      color: #fff;
      text-decoration: none;
    }
   }
  }

}
.sidebar:hover {
  left: -16px;
  padding-left: 21px;
}
.fullside{
  left: 0px;
}
#b1{
  float: right;
  background-color: #777;
}

#b1,#b2{
  width: 55px;
}

