
.sidebar{
  position: relative;
  width: 200px;
  left: -180px;
  height: 89vh;
  text-align: left;
  flex-direction: column;
  z-index: 100;
  line-height: 200%
  }

.sidebar:hover {
  left: -16px;
  padding-left: 21px;
}

.arrow {
  margin-left: 5px;
  width:20px;
  padding-right: 2px;
  vertical-align: middle;
}

.b1{
  float: right;
  width: 30px;
  height: 90vh;
}


.filterframe {

}
