.chartlist {
  width: 100vw;
  border: 0px solid red;
}


.main {
  width: 100vw;
  border: 0px solid red;
  display: inline-flex;
}

.human {
  max-height: 60vh;
}

.asideFrame {
  display: absolute;
  height: 88vh;
    border: 0px solid red;
}

.mainFrame {
  border: 0px solid green;
  display: fixed;
  justify-content: center;
  text-align: center;

}

.record {
  max-height: 88vh;
  overflow: scroll;
}
