.frame {
  border: 0px solid red;

}
.title {
  text-align: center;
}

.humanSmall {
  height: 30vh;
  margin: 0 auto;
  border: 0px solid green;

}

.frameHuman {
  margin: 0 auto;
}

.title {
  text-align: center;
}
